.clientes-container {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.clientes-title {
    background-color: var(--c-label-bg);
    padding: 10px 15px;
    border-radius: 12px;
    font-weight: bold;
    color: var(--c-text);
}

.cliente-card {
    background-color: var(--c-soft);
    padding: 15px;
    border-radius: 12px;
    box-shadow: 0px 5px 12px rgba(0, 0, 0, 0.08);
    transition: 0.2s ease;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.cliente-card:hover {
    transform: translateY(-3px);
}

.cliente-info {
    display: flex;
    flex-direction: column;
}

.cliente-nombre {
    font-weight: 600;
    font-size: 16px;
    color: var(--c-title);
}

.cliente-telefono {
    font-size: 14px;
    color: var(--c-muted);
    margin-top: 4px;
}

.btn-delete {
    background: #d9534f;
    border: none;
    color: white;
    padding: 6px 12px;
    border-radius: 8px;
    cursor: pointer;
}

.btn-delete:hover {
    background: #c9302c;
}
