.form-container h3 {
    background-color: var(--c-label-bg);
    padding: 5px 15px;
    font-size: 15px;
    color: var(--c-text);
    border-radius: 10px;
}

.deuda-card {
    color: var(--c-text);
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--c-soft);
    padding: 12px;
    border-radius: 12px;
    margin-bottom: 10px;
}

.deuda-card button {
    background-color: var(--c-accent);
    border: none;
    padding: 8px 12px;
    border-radius: 10px;
    color: white;
    cursor: pointer;
}

.deuda-card button:hover {
    background-color: var(--c-accent-hover);
}
